@model Diffen.ViewModels.LoginViewModel

<style>
	.with-top-navbar {
		padding: 0 !important;
	}
	.with-top-navbar .container {
		padding: 0 !important;
	}
</style>

<div class="container-fluid container-fill-height">
	<div class="container-content-middle">
		<form role="form" method="post" class="mx-auto text-center app-login-form">
			@*<a href="../index.html" class="app-brand mb-5">
				<img src="../assets/img/brand.png" alt="brand">
			</a>*@
			<h4>välkommen till diffen!</h4>
			<hr/>
			<div class="form-group">
				<input type="text" class="form-control" asp-for="Email" placeholder="din@epost.com" required autofocus>
			</div>
			<div class="form-group mb-3">
				<input type="password" class="form-control" asp-for="Password" placeholder="lösenord" required>
			</div>
			@if (!ViewData.ModelState.IsValid)
			{
				<div class="alert alert-danger">
					@Html.ValidationSummary(false, "", new { @class = "auth-validation" })
				</div>
			}
			<div class="mb-5">
				<button type="submit" class="btn btn-success"><span class="oi oi-account-login"></span> logga in</button>
				<a href="/auth/register" class="btn btn-primary"> skapa konto</a>
			</div>
		</form>
	</div>
</div>