@model Diffen.ViewModels.Auth.ResetPasswordViewModel

<div class="container-fluid container-fill-height">
	<div class="container-content-middle">
		<form role="form" method="post" class="mx-auto text-center app-login-form" enctype="multipart/form-data">
			<h4>Återställ lösenord</h4>
			<hr />
			<div class="form-group">
				<input type="text" class="form-control" asp-for="Email" placeholder="Emailen du registrerade dig med" required>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" asp-for="InviteCode" placeholder="Din inbjudningskod" required>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" asp-for="NewPassword" placeholder="Nytt lösenord" required>
			</div>
			<div class="form-group mb-3">
				<input type="password" class="form-control" asp-for="ConfirmNewPassword" placeholder="Bekräfta lösenord" required>
			</div>
			@if (!ViewData.ModelState.IsValid)
			{
			<div class="alert alert-danger">
				@Html.ValidationSummary(false, "", new { @class = "auth-validation" })
			</div>
			}
			<div class="mb-5">
				<button type="submit" class="btn btn-success">Bekräfta ändring</button>
				<a href="/auth/login" class="btn btn-secondary"> Avbryt</a>
			</div>
		</form>
	</div>
</div>

<script src="~/dist/js/avatar.js"></script>