<html>
<head>
	<title>Diffen</title>
	<meta charset="utf-8" />
	<link rel="icon" href="~/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
</head>
<body>
@if (User.Identity.IsAuthenticated)
{
	@await Html.PartialAsync("_Navbar.cshtml")
}
<main role="main">
	<div class="wrapper">
		@RenderBody()
	</div>
</main>
@if (User.Identity.IsAuthenticated)
{
	@await Html.PartialAsync("_Footer.cshtml")
}
</body>
</html>