<html>
<head>
	<title>Diffen</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="~/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="~/dist/css/style.css" />
</head>
<body>
	@if (User.Identity.IsAuthenticated)
	{
		@await Html.PartialAsync("_Navbar")
	}
	<main role="main">
		<div class="wrapper">
			@RenderBody()
		</div>
	</main>
	@if (User.Identity.IsAuthenticated)
	{
		@await Html.PartialAsync("_Footer")
	}
	<script src="~/dist/script/bundles.js"></script>
</body>
</html>