/* post */
.message-footer {
	div.wrap {
		display: initial;
	}
}

/* profile */
.container {
	&__profile {
		padding: 20px;
		background: white;
		width: 60%;
		.media-list-conversation .media-body-text + .media-body-text {
			margin-top: 5px;
		}
		.media-list-conversation .media-current-user .media-body-text {
			color: #fff;
			background-color: #3097D1;
		}
		.media-list-conversation .media-body-text {
			position: relative;
			padding: 10px 15px;
			background-color: #f5f8fa;
			border-radius: 9px;
		}
		.media-body-text span {
			white-space: pre-wrap;
		}
		.media:last-child {
			margin-bottom: 0 !important;
		}
	}
}

.small-device {
	display: none;
}
.large-device {
	display: block;
}
@media (max-width: 768px) {
	.container {
		&__profile {
			width: 95%;
		}
	}
	.small-device {
		display: block;
	}
	.large-device {
		display: none;
	}
	.row [class*="col-"]:last-child {
		margin-top: 1rem;
	}
}

/* authentication */
.auth-validation {
	ul {
		padding-left: 0;
		list-style: none;
		margin-bottom: 0;
		text-align: left;
	}
}

/* misc */
.div-disabled {
	opacity: 0.4;
	pointer-events: none;
}

div.flow-root {
	display: flow-root;
}

.btn, .list-group-item {
	&__no-top-radius {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

li.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* navbar */
.navbar-divider {
	border-left: 1px solid white;
	margin: 0.3rem 0.75rem;
}
@media (max-width: 768px) {
	.navbar {
		.form-inline {
			margin-top: 22px;
			a.btn {
				width: 100%;
				display: block;
				margin-left: 0 !important;
			}
		}
		.dropdown.open {
			margin-top: -0.7rem !important;
		}
	}
	.navbar-divider {
		border-top: 1px solid white;
		border-left: none;
		margin-left: 0 !important;
		margin-right: 0 !important;
		width: 15%;
	}
}

.br {
	&__br-4 {
		border-top-right-radius: 4px !important;
		border-bottom-right-radius: 4px !important;
	}
	&__bl-4 {
		border-top-left-radius: 4px !important;
		border-bottom-left-radius: 4px !important;
	}
	&__none {
		border: 0;
	}
}

.href-black {
    color: black !important;
}

.more-readable {
    font-weight: 400 !important;
}

.table-hover {
	tr:hover {
		cursor: pointer !important;
	}
}