/* modal */
.modal {
	background: rgba(0,0,0,0.5);
}
.modal-backdrop {
	/* bug fix - no overlay */    
	display: none;    
}

/* tweet */
.twitter-tweet {
	width: inherit !important;
}

@media (max-width: 768px) {
	.twitter-tweet {
		display: none !important;
	}
}

/* popover */
.fade.in {
	opacity: 1;
}
.popover.top {
	margin-top: -10px;
}
.popover.top > .arrow {
	left: 50%;
	margin-left: -11px;
	border-bottom-width: 0;
	border-top-color: rgba(0,0,0,.25);
	bottom: -11px;
	border-width: 11px;
	position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.popover.top > .arrow:after {
	content: " ";
	bottom: 1px;
	margin-left: -10px;
	border-bottom-width: 0;
	border-top-color: #fff;
}
.popover-title {
	margin: 0;
	padding: 8px 14px;
	font-size: 14px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
}
.popover-content {
	padding: 9px 14px;
	.votes {
		display: flow-root;
		.icon {
			float: right;
		}
	}
}

/* typeahead */
.open > .dropdown-menu {
	// width: 100%;
	display: block;
}
.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
	color: #fff;
	text-decoration: none;
	outline: 0;
	background-color: #337ab7;
}

/* post */
.message-footer {
	div.wrap {
		display: initial;
	}
}

/* datetimepicker */
.bootstrap-datetimepicker-widget.dropdown-menu {
	padding: 7px !important;
	width: max-content !important;
}