/* post */
.message-footer {
	div.wrap {
		display: initial;
	}
}

/* profile */
.container {
	&__profile {
		padding: 20px;
		background: white;
		width: 60%;
		.media-list-conversation .media-body-text + .media-body-text {
			margin-top: 5px;
		}
		.media-list-conversation .media-current-user .media-body-text {
			color: #fff;
			background-color: #3097D1;
		}
		.media-list-conversation .media-body-text {
			position: relative;
			padding: 10px 15px;
			background-color: #f5f8fa;
			border-radius: 9px;
		}
		.media-body-text span {
			white-space: pre-wrap;
		}
		.media:last-child {
			margin-bottom: 0 !important;
		}
	}
}

.small-device {
	display: none;
}
.large-device {
	display: block;
}
@media (max-width: 768px) {
	.container {
		&__profile {
			width: 95%;
		}
	}
	.small-device {
		display: block;
	}
	.large-device {
		display: none;
	}
	.row [class*="col-"]:last-child {
		margin-top: 1rem;
	}
}

/* formation */
.formation {
	.row [class*="col-"]:first-child {
		padding-left: 0.5rem !important;
		padding-right: 0.5rem !important;
	}
	.row [class*="col-"]:last-child {
		padding-left: 0.5rem !important;
		padding-right: 0.5rem !important;
	}
}

/* authentication */
.auth-validation {
	ul {
		padding-left: 0;
		list-style: none;
		margin-bottom: 0;
		text-align: left;
	}
}

/* misc */
.div-disabled {
	opacity: 0.4;
	pointer-events: none;
}